<div class="page-header" data-bind="visible: !donor().isEditing()">
    <h1>
        <a href='/#donors' class="btn btn-small btn-info" style="display: inline"><i class="icon-arrow-left"></i></a>
        <span data-bind="text: donor().name()"></span>
        <button id="Button1" class="btn btn-primary pull-right" data-bind="visible: !donor().isEditing(), click: editDonor">Edit Donor</button>

    </h1>
</div>
<div class="page-header" data-bind="visible: donor().isEditing()">
    <input type="text" class="input-large span3" placeholder="Donor Name" data-bind="value: donor().name()" />
</div>

<i class="icon-spinner icon-2x icon-spin active" data-bind="visible: isWorking"></i>

<div id="donorAddress" data-bind="with: donor().primaryAddress()">
    <address>
        <span data-bind="text: streetAddress"></span>
        <br />
        <!-- ko if: hasStreet2 -->
        <span data-bind="text: streetAddress2"></span>
        <br />
        <!-- /ko -->
        <span data-bind="text: city"></span>, <span data-bind="    text: state"></span>&nbsp;&nbsp;<span data-bind="    text: zip"></span><br />
    </address>
</div>

<div id="donorEmails">
    <address>
        <a data-bind="attr: { href: 'mailto:' + donor().emailAddress() }">
            <span data-bind="text: donor().emailAddress"></span>
        </a>
    </address>
</div>

<div id="donorPhone" style="width: 45%;">
    <table class="st-table table table-striped" id="donors">
        <thead>
            <tr>
                <th class="always not-selectable" style="text-align: left;">Phone Type</th>
                <th class="always" style="text-align: left;">Phone Number</th>
                <th class="always" style="text-align: left">Actions</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: donor().phones()">
            <tr>
                <td class="always" style="text-align: left;">
                    <!-- ko if: isEditing -->
                        <select data-bind="options: $root.phoneTypes, optionsText: 'name', value: phoneType, optionsCaption: 'Choose...'"></select>&nbsp
                    <!-- /ko -->
                    <!-- ko ifnot: isEditing -->
                        <span data-bind="text: phoneType().name()" />
                    <!-- /ko -->
                </td>
                <td class="always" style="text-align: left;">
                    <!-- ko if: isEditing -->
                        <input type="text" class="input-small span1" placeholder="Area Code" data-bind="value: areaCode" style="width: 50px;" />&nbsp
                        <input type="text" class="input-small span3" placeholder="Number" data-bind="value: number" />
                    <!-- /ko -->
                    <!-- ko ifnot: isEditing -->
                        (<span data-bind="text: areaCode"></span>)&nbsp<span data-bind="    text: number"></span>
                    <!-- /ko -->
                </td>
                <td class="always" style="text-align: left;">
                    <!-- ko ifnot: isEditing -->
                        <button id="editPhoneButton" class="btn btn-mini btn-info" data-bind="click: $root.editPhone">Edit</button>
                        <button id="deletePhoneButton" class="btn btn-mini btn-info" data-bind="click: $root.deletePhone">Delete</button>
                    <!-- /ko -->
                    <!-- ko if: isEditing -->
                        <button id="savePhoneButton" class="btn btn-mini btn-primary" data-bind="click: $root.savePhone">Save</button>
                        <button id="rollbackPhoneButton" class="btn btn-mini btn-inverse" data-bind="click: $root.rollbackPhone">Cancel</button>
                    <!-- /ko -->
                </td>
            </tr>
        </tbody>
    </table>
    <button id="addPhoneButton" class="btn btn-small btn-info" data-bind="click: addPhone">New Phone</button>
</div>

<!--<div data-bind="visible: !donor().isEditing()">
    <button id="editDonorButton" class="btn btn-primary" data-bind="click: editDonor">Edit Donor</button>
</div>-->
<div data-bind="visible: donor().isEditing()">
    <button id="saveButton" class="btn btn-primary" data-bind="click: saveDonor">Save</button>
    <button id="cancelButton" class="btn btn-primary" data-bind="click: rollbackDonor">Cancel</button>
</div>

