<footer class="st-sticky-footer">
	<div class="row" style="height:40px;">
		<div class="col-sm-6" style="height:40px;">
			<div class="footer-content" style="padding-top:10px;padding-bottom:5px;">
				<p>Created by <a href="http://www.anythinksolutions.com">Anythink Solutions, LLC.</a></p>
			</div>
		</div>
		@*<div class="col-sm-6">    
			<div class="footer-content">                
				<ul class="list-unstyled">
					<li>
						<a href="https://github.com/yagopv/durandalauth" target="_blank"><i class="icon-github"></i>&nbsp;View project on Github</a>
					</li>
					<li>
						<a href="https://twitter.com/yperezva" target="_blank"><i class="icon-twitter-sign"></i>&nbsp;Follow me on Twitter</a></li>
					<li>
						<a href="mailto:yago.perez@outlook.com"><i class="icon-envelope-alt"></i>&nbsp;Email me</a>
					</li>
				</ul>
			</div>
		</div>     *@               
	</div>                        
</footer>