<div class="modal">
    <div class="modal-header">
        <span>New Event</span>
    </div>
    <div class="modal-body">
        <!--<select data-bind="options: $root.activityTypes, optionsText: 'name', value: activityType, optionsCaption: 'Choose...'"></select>-->
        <input type="text" class="span2" data-bind="datepicker: activity.activityDate, datepickerOptions: { format: 'M/D/YYYY' }" style="width: 80px;">
        <!--<select data-bind="options: $root.donor().contacts, optionsText: 'fullName', value: contact, optionsCaption: 'Optional...'"></select>-->
        <input type="text" class="span2" data-bind="datepicker: activity.dueDate, datepickerOptions: { format: 'M/D/YYYY' }" style="width: 80px;" placeholder="Due Date">

        <br />

        <input type="text" data-bind="value: activity.subject" style="width: 100%" placeholder="Subject" />
        <textarea data-bind="value: activity.body" rows="3" style="width: 100%;" placeholder="Body" />
    </div>
    <div class="modal-footer">
        <button class="btn btn-mini" title="Cancel" data-bind="click: cancel"><i class="icon-remove"></i></button>
        <button class="btn btn-mini btn-info" title="Save" data-bind="click: save"><i class="icon-save"></i></button>
    </div>

</div>
