<div class="page-header" style="margin-top:10px;">
    <h1>
        Schedule
    </h1>
</div>
<i class="icon-spinner icon-2x icon-spin active" data-bind="visible: isWorking"></i>

<div class="pull-left" style="width:70%;">
    <table class="st-table table">
        <thead>
            <tr>
                <th class="calendar-title always" colspan="7">
                    <span data-bind="text: calendar.monthName() + ' ' + calendar.year()" style="font-size:24px;"></span>

                    <div class="pull-right" style="display:inline;">
                        <button class="btn btn-info btn-small" data-bind="click: calendar.prevYear"><i class="icon-double-angle-left" title="Previous Year"></i></button>
                        <button class="btn btn-info btn-small" data-bind="click: calendar.prevMonth" style="margin-right:10px;"><i class="icon-arrow-left" title="Previous Month"></i></button>
                        <button class="btn btn-info btn-small" data-bind="click: calendar.gotoToday" style="margin-right:10px;"><i class="icon-time" title="Today"></i></button>
                        <button class="btn btn-info btn-small" data-bind="click: calendar.nextMonth"><i class="icon-arrow-right" title="Next Month"></i></button>
                        <button class="btn btn-info btn-small" data-bind="click: calendar.nextYear"><i class="icon-double-angle-right" title="Next Year"></i></button>
                    </div>
                </th>
            </tr>
            <tr>
                <th class="calendar always">Sunday</th>
                <th class="calendar always">Monday</th>
                <th class="calendar always">Tuesday</th>
                <th class="calendar always">Wednesday</th>
                <th class="calendar always">Thursday</th>
                <th class="calendar always">Friday</th>
                <th class="calendar always" style="border-right:0px;">Saturday</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: calendar.weeks">
            <tr>
                <!-- ko foreach: $data -->
                <td class="calendar-day always" data-bind="event: { mousedown: $root.calendar.selectDate }, css: { 'calendar-day-right': dayOfWeek == 6, 'calendar-other-month': !isCurrentMonth, 'calendar-today': isCurrentDay, 'calendar-day-selected': isSelected}">
                    <span data-bind="text: dayOfMonth"></span>
                    <div style="margin-top:5px;font-size:10px;">
                        <ul class="list-unstyled" data-bind="foreach: events">
                            <li class="label label-inverse calendar-event" data-bind="text: subject, attr: { title: tooltip}, click: $root.openEvent" />
                        </ul>
                    </div>
                </td>
                <!-- /ko -->
            </tr>
        </tbody>
    </table>
</div>

<div class="pull-right" style="width:25%;">
    <div id="appointments" data-bind="if: calendar.selectedDay() != null">
        <h3 class="section-header" data-bind="text: moment(calendar.selectedDay().date).format('MMMM D, YYYY')"></h3>
        <table class="st-table table">
            <tbody>
                <!-- ko foreach: calendar.selectedDay().events -->
                <tr data-bind="attr: { title: tooltip }">
                    <td class="always" data-bind="text: subject"></td>
                    <td class="always">
                        <span data-bind="text: moment(date).format('M/D/YYYY')"></span>
                    </td>
                </tr>
                <!-- /ko -->
                <tr>
                    <td class="always" colspan="2">
                        <button class="btn btn-mini btn-info" data-bind="click: addEvent">New...</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="upcomingActivities">
        <h3 class="section-header">Upcoming</h3>
        <table class="st-table table">
        <tbody data-bind="foreach: upcomingItems">
            <tr data-bind="attr: { title: $root.getActivityTooltip($data) }">
                <td class="always" data-bind="text: subject"></td>
                <td class="always">
                    <div data-bind="if: dueDate() != null" style="display: inline;">
                        <span data-bind="text: moment(dueDate()).fromNow(), attr: { title: moment(dueDate()).format('M/D/YYYY')}"></span>
                        <!--<input type="checkbox" data-bind="checked: isComplete" class="pull-right" title="Mark this task Complete/Incomplete" />-->
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
