.activity-existing
{
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dashed darkgray;
}

#leftColumn
{
	margin-right: 10px;
}

#rightColumn
{
	margin-left: 10px;
}

.primary-address
{
	/*font-weight: bolder;*/
	font-style:italic;
}

.primary-phone
{
	/*font-weight: bolder;*/
	font-style:italic;
}

.space-left
{
	margin-left: 10px;
}

.space-left-small
{
	margin-left: 5px;
}

.space-right
{
	margin-right: 10px;
}

.space-right-small
{
	margin-right: 5px;
}

.subtle
{
	color: #707070;
}
