/*Color Theme:
	Primary:	Secondary:	Tertiary:
		#9EBAC2		#B8CDD2		#84A7B2
		#559599		#9EBAC2		#467A7E
		#3B5E44		#4B7857		#2B4431
		#C8B59F		#A98B69		#D7CABA
		#BDC1C6		#EBECED		#A6ACB2
*/

.activity-existing
{
	margin-bottom: 10px;
	padding: 5px;
	border-bottom: 1px dashed darkgray;
}

#leftColumn
{
	margin-right: 10px;
    /*width: 15%;*/
    border-right: 1px solid #BDC1C6;
    padding-right: 5px;
}

#rightColumn
{
	margin-left: 10px;
    /*width: 30%;*/
    border-left: 1px solid #BDC1C6;
    padding-left: 5px;
}

#centerColumn {
    margin-left: 5px;
    margin-right: 5px;
    /*width: 50%;*/
}

/*.shadow-left-edge {
	-webkit-box-shadow: 4px 0 6px -6px black;
	   -moz-box-shadow: 4px 0 6px -6px black;
	        box-shadow: 4px 0 6px -6px black;
}
.shadow-right-edge {
	-webkit-box-shadow: -4px 0 6px -6px black;
	   -moz-box-shadow: -4px 0 6px -6px black;
	        box-shadow: -4px 0 6px -6px black;
}*/

/*.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}*/

.primary-address
{
	/*font-weight: bolder;*/
	font-style:italic;
}

.primary-phone
{
	/*font-weight: bolder;*/
	font-style:italic;
}

.space-left
{
	margin-left: 10px;
}

.space-left-small
{
	margin-left: 5px;
}

.space-right
{
	margin-right: 10px;
}

.space-right-small
{
	margin-right: 5px;
}

.subtle
{
	/*color: #707070;*/
}

.separator
{
	 padding-bottom:5px;
	 border-bottom:1px solid #eeeeee;
	 margin-bottom:5px;
}

address
{
	margin-bottom: 10px;
}

/*--------- Schedule/Calendar ----------*/
.calendar-title
{
	font-size: 24px;
	height: 50px;
}

th.calendar
{
	border-right: 1px solid #9EBAC2;
	text-align: left;
	width: 14.28%;
}

td.calendar-day
{
	border-right: 1px solid #9EBAC2;
	height: 100px;
	text-align: left;
	margin-top: auto;
}

td.calendar-day-right
{
	border-right: 0px;
}

td.calendar-today
{
	background-color: #9EBAC2;
	font-weight: bold;
}

td.calendar-other-month
{
	background-color: #EBECED;
}

td.calendar-day-selected
{
	border: 2px solid #3B5E44;
	background-color: #C8B59F;
}

li.calendar-event
{
	max-width: 100px;
	max-height: 30px;
	margin-top: 2px;
}