.activity-existing
{
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dashed darkgray;
}

#leftColumn
{
	margin-right: 10px;
    /*width: 15%;*/
    border-right: 1px solid #eeeeee;
    padding-right: 5px;
}

#rightColumn
{
	margin-left: 10px;
    /*width: 30%;*/
    border-left: 1px solid #eeeeee;
    padding-left: 5px;
}

#centerColumn {
    margin-left: 5px;
    margin-right: 5px;
    /*width: 50%;*/
}

.section-header {
  padding-bottom: 5px;
  margin: 10px 0 5px;
  color: #3a87ad;
  background-color: #f9f9f9;
}

.section-header-bordered {
  padding-bottom: 4px;
  margin: 10px 0 5px;
  border-bottom: 1px solid #eeeeee;
  color: #3a87ad;
}

.primary-address
{
	/*font-weight: bolder;*/
	font-style:italic;
}

.primary-phone
{
	/*font-weight: bolder;*/
	font-style:italic;
}

.space-left
{
	margin-left: 10px;
}

.space-left-small
{
	margin-left: 5px;
}

.space-right
{
	margin-right: 10px;
}

.space-right-small
{
	margin-right: 5px;
}

.subtle
{
	/*color: #707070;*/
}

.separator
{
	 padding-bottom:5px;
	 border-bottom:1px solid #eeeeee;
	 margin-bottom:5px;
}

address
{
	margin-bottom: 10px;
}
